<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1. 用v-for 嵌套输出 99乘法表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
            <div v-for="i in num">
                <span v-for="j in i">{{j}}*{{i}}={{j*i}}  </span> 
            </div>
    </div>
    <script>
        var vm = new Vue({
            el:"#root",
            data:{
                num: 9,
            }
            
        })
    </script>
</body>
</html>